   .main{
    height:450px;
    font-family: sans-serif;
   }

   .tag_area{
    margin-left: 396px;
    padding-top:30px;
    width:841px;
    height:266px;
    
    }
    .tag_area div:first-child{
        font-size: 15px;
        font-weight: 600;
    }
   em{
        font-size: 15px;
    }
    #tag_input{
        width:489px;
        height:100px;
        background-color: #EBEBEB;
        box-sizing: border-box;
        padding: 10px 20px 10px 20px;
        box-shadow: inset 0px -2px 0px #33A4FF;
       border-radius: 2px;
       position: relative;
    }
    #input_text{
        border:none;
        margin:10px;
        position:absolute;
        transform:translate(-489px,0);
        background: #EBEBEB;
    }
    .select_tags{
       position: absolute;
       transform: translate(0,-90px);
    }
    #select1{
        width:160px;
        margin-left: 10px;
        margin-top: -3px;
        display:none;
    }
    #select2{
        width:210px;
        margin-left: 10px;
        margin-top: -3px;
        display:none;
    }
    #select3{
        width:150px;
        margin-left: 10px;
        margin-top: 5px;
        display:none;
    }

    #select4{
        width:105px;
        margin-left: 10px;
        margin-top: 5px;
        display:none;
    }
    span{
        font-size: 12px;
        font-weight: 700;
        margin-left: 15px;
    }
    #suggestions{
        width:483px;
        height:181px;
        border:1px solid #EBEBEB;
        margin-top: -5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
        position:relative;
    }
    .sugg_input{
        transform: translate(0,-180px);
    }
    button{
    width:489px;
    height:37px;
    background: white;
    border: none;
    text-align:left;
    padding-left: 20px;
  
    }
    button:hover{
        background:#EBF6FF;
    }
   .footer{
    margin-top:150px;
    height:200px;
    width:100%;
    background-color: #EBEBEB;
    }